@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);

body {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	background-color: #111;
}

* {
	font-family: 'Noto', sans-serif;
}

h1, h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

#leftpane {
	position: absolute;
	top: 0;
	left: 0;
	
	width: 25%;
	max-height: 100%;
	
	background-color: #111;
	color: white;
	
	box-shadow: rgba(0,0,0,0.12) 0px 2px 4px;
}

.pane-item {
	display: block;
	width: 100%;
	height: 3em;
	
	text-align: center;
	background-color: rgba(255,255,255,0.1);
}

.pane-item span {
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: white;
}

.pane-item--selected {
	background-color: rgba(255,255,255,0.2);
}

.pane-item--selected span {
	font-style: italic;
}

#content {
	position: absolute;
	top: 0;
	left: 25%;
	
	width: 75%;
	max-width: 75%;
	height: 100%;
	max-height: 100%;
	
	background-color: #EEE;
	
	box-shadow: rgba(0,0,0,0.8) -2px 0px 4px;
}

.card {
	background-color: #FFF;
	padding: 8px;
	box-shadow: rgba(0,0,0,0.12) 0px 2px 4px;
}

#content .card {
	display: inline-block;
	width: 100%;
}

#content p {
	padding: 0 32px;
	text-indent: 48px;
}
