body {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	background-color: #111;
}

#leftpane {
	position: absolute;
	top: 0;
	left: 0;
	
	width: 25%;
	max-height: 100%;
	
	background-color: #111;
	color: white;
	
	box-shadow: rgba(0,0,0,0.12) 0px 2px 4px;
}

.pane-item {
	display: block;
	width: 100%;
	height: 3em;
	
	text-align: center;
}

.pane-item span {
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: white;
}

.pane-item--selected {
	background-color: rgba(255,255,255,0.1);
}

.pane-item--selected span {
	font-weight: bold;
}

#content {
	position: absolute;
	top: 0;
	left: 25%;
	
	padding: 4px;
	
	width: 75%;
	max-width: 75%;
	height: 100%;
	max-height: 100%;
	
	background-color: #EEE;
}

.card {
	background-color: #FFF;
	padding: 8px;
	box-shadow: rgba(0,0,0,0.12) 0px 2px 4px;
}

#content .card {
	display: inline-block;
	width: 100%;
	
	margin: -4px;
}

#content p {
	padding: 8px;
}
