body {
	overflow: hidden;
}

#leftpane {
	position: absolute;
	top: 0;
	left: 0;
	
	width: 25%;
	height: 100%;
	max-height: 100%;
	
	background-color: #111;
	color: white;
}

.pane-item {
	width: 100%;
	height: 3em;
	
	text-align: center;
}

.pane-item span {
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#content {
	position: absolute;
	top: 0;
	left: 25%;
	
	padding: 4px;
	
	width: 75%;
	max-width: 75%;
	height: 100%;
	max-height: 100%;
	
	background-color: #EEE;
}
